In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [23]:
gdp_df=pd.read_csv('C:/Users/jcran/Documents/data_science/un_exploration-jcrando/data/gdp_per_capita.csv.csv')

In [28]:
gdp_df.head(11)

   Country or Area  Year        Value  Value Footnotes
0      Afghanistan  2019  2065.036398              NaN
1      Afghanistan  2018  2033.779002              NaN
2      Afghanistan  2017  2058.383832              NaN
3      Afghanistan  2016  2057.062164              NaN
4      Afghanistan  2015  2068.265904              NaN
5      Afghanistan  2014  2102.385234              NaN
6      Afghanistan  2013  2116.465454              NaN
7      Afghanistan  2012  2075.491747              NaN
8      Afghanistan  2011  1904.559799              NaN
9      Afghanistan  2010  1957.029338              NaN
10     Afghanistan  2009  1758.904043              NaN

In [32]:
gdp_df.tail()

,Country or Area,Year,Value,Value Footnotes
6865,Zimbabwe,1992,3054.889178,NaN
6866,Zimbabwe,1991,3426.598094,NaN
6867,Zimbabwe,1990,3324.348171,NaN
6868,footnoteSeqID,Footnote,NaN,NaN
6869,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [36]:
gdp_df.drop(index=['6868', '6869'], inplace=True)

KeyError: "['6868' '6869'] not found in axis"

the below isn't reading in, I'll cross this bridge when I come to it

In [22]:
pd.read_csv('C:/Users/jcran/Documents/data_science/un_exploration-jcrando/data/internet_use.csv.csv')

ParserError: Error tokenizing data. C error: Expected 4 fields in line 4675, saw 6

In [ ]:
read_csv()